.main-footer {
    color: white;
    background-color: #1c2237;
    height: 25%;  
    display: flex;
    width: 100%;
    border-top-right-radius:50px ;
    border-top-left-radius: 50px;
  }
.col{
    margin-top: -20px;
    height: 80%;
}
.img{
    width: 20%;
    height: 10%;
    
}